<widget id="com.beer.guide" version="1.0.0">
	<name>Beer Guide</name>
	<description>
		A guide for beers and pub finder
	</description>
	<author>
        Beta Decay
    </author>
	<plugin name="cordova-plugin-geolocation" />
	<content src="index.html"/>
	<access origin="*"/>
	<plugin version="1" name="cordova-plugin-whitelist"/>
	<allow-navigation href="http://*/*"/>
	<allow-intent href="http://*/*"/>
	<icon src="./logo.png" />
</widget>